<footer class="container site-footer">

  <div id="btns" class="container">
 <a rel="nofollow" href="mailto:israel_batista.am@hotmail.com"> <button class="contact-button"><img class="icon"  src="https://israelmarmar.github.io/portifolio/images/favicon.ico"></button></a>

 <a rel="nofollow" href="https://www.linkedin.com/in/israelmarquesmartins/"> <button class="contact-button"><img class="icon" src="https://israelmarmar.github.io/portifolio/images/linkedin.png"></button></a>

 <a rel="nofollow" href="https://github.com/israelmarmar"> <button class="contact-button"><img class="icon" src="https://israelmarmar.github.io/portifolio/images/github.ico"></button></a>

 <a rel="nofollow" href="https://www.freecodecamp.com/israelmarmar"> <button style="position:relative;top:3px;" class="contact-button"><img class="icon" src="https://israelmarmar.github.io/portifolio/images/frecodecamp.png"></button></a>

 <a rel="nofollow" href="https://codepen.io/israelmarmar"> <button style="position:relative;top:3px;" class="contact-button"><img class="icon" src="https://israelmarmar.github.io/portifolio/images/favicon-8ea04875e70c4b0bb41da869e81236e54394d63638a1ef12fa558a4a835f1164.ico"></button></a>

</div>

</footer>
