<div class="navbar navbar-inverse navbar-static-top navbar-light" role="navigation">
  <div class="container">

    <div class="navbar-header">

      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-slide-dropdown">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>

      </button>

      <a class="navbar-brand" ui-sref="cards">Israel Martins</a>
    </div>


    <div class="collapse navbar-collapse" id="bs-slide-dropdown">

     <ul class="nav navbar-nav navbar-right">

      <li><a class="grid-item" href="https://israelmarmar.github.io/portifolio/#top">About</a></li>

      <li><a class="grid-item" href="https://israelmarmar.github.io/portifolio/#work">Work</a></li>

      <li><a class="grid-item" href="https://israelmarmar.github.io/portifolio/#contact">Contact</a></li>

    </ul>

  </div>

  
</div>
</div>

<header class="headpage container-fluid">

  <div class="intro-text container">
    <h1>
      Hello, I'm Israel
    </h1><br>
    <p id="abt">I am Full Stack developer living in Manaus, Brazil. I make web aplications usually with React and NodeJs.</p>

  </div>

</header>
